@model SciO_Scheduler_2.Models.timeTable

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>timeTable</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.blockAStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.blockAStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.blockAEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.blockAEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.blockBStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.blockBStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.blockBEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.blockBEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.blockCStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.blockCStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.blockCEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.blockCEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.blockDStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.blockDStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.blockDEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.blockDEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.blockEStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.blockEStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.blockEEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.blockEEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.blockFStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.blockFStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.blockFEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.blockFEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bridgesStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bridgesStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.bridgesEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.bridgesEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gravityVehicleStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gravityVehicleStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.gravityVehicleEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.gravityVehicleEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pingPongParachuteStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pingPongParachuteStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pingPongParachuteEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pingPongParachuteEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trajectoryStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trajectoryStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trajectoryEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trajectoryEndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wrightStuffStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wrightStuffStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wrightStuffEndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wrightStuffEndTime)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="venue" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
