@model IEnumerable<SciO_Scheduler_2.Models.Gantt>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
                @*@Html.DisplayNameFor(model => model.studentName)-->*@
            </th>
            <th>
                Last Name
                @*@Html.DisplayNameFor(model => model.studentLastName)*@
            </th>
            <th>
                Block A
                @*@Html.DisplayNameFor(model => model.studentEventsA)*@
            </th>
            <th>
                Block B
                @*@Html.DisplayNameFor(model => model.studentEventsB)*@
            </th>
            <th>
                Block C
                @*@Html.DisplayNameFor(model => model.studentEventsC)*@
            </th>
            <th>
                Block D
                @*@Html.DisplayNameFor(model => model.studentEventsD)*@
            </th>
            <th>
                Block E
                @*@Html.DisplayNameFor(model => model.studentEventsD)*@
            </th>
            <th>
                Block F
                @*@Html.DisplayNameFor(model => model.studentEventsF)*@
            </th>
            <th>
                Block Self
                @*@Html.DisplayNameFor(model => model.studentEventsSelf)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.studentName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.studentLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentEventsA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentEventsB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentEventsC)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentEventsD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentEventsE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentEventsF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.studentEventsSelf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
